/* #region Header*/
.header {
    background-image: url('../img/header/HeroSection.png');
    background-size: cover;
    height: 400px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    margin-bottom: 142px;
    padding-top: 16px;
}

.header__logo {
    width: 130px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.header__items {
    list-style-type: none;
    margin-left: 40px;
    font-size: 18px;
    size: 50px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.header__items:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header__container {
    margin-left: 182px;
    width: 550px;
}


.header__title {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

@media (max-width:992px) {
    .header__container {
        width: 400px;
        margin-left: 20%;
    }
}

@media (min-width:576px) {
    .dropdown {
        display: none;
    }

}

@media (max-width:575px) {
    .header__title {
        font-size: 36px;
    }

    .header__container {
        width: auto;
        margin-left: 20%;
    }

    .header__list {
        display: none;
    }

    .dropdown__btn {
        border: none;
    }

    .header__logo {
        width: 110px;
    }
}

/* #endregion */

/* #region Heading*/
.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 60px;
    margin-top: 40px;
    box-sizing: border-box;
}

.heading__title {
    font-size: 32px;
    color: #172432;
    margin: 10px 0 0 0;
    border-bottom: 2px solid #FF7757;
    width: 290px;
    margin-bottom: 12px;
}

.heading__paragraph {
    margin: 0px;
    color: #767E86;
}

.heading__actions {
    gap: 200px;
}

.heading__button {
    width: 40px;
    height: 40px;
    color: white;
    background-color: #FF7757;
    border-radius: 4px;
    border: none;
    margin-left: 8px;
}

.heading__button--izq {
    background-color: #172432;
}

@media(max-width:992px) {
    .heading__title {
        width: auto;
    }

    .heading__actions {
        display: none;
    }
}

/* #endregion Heading*/

/* #region Destination*/
.destination {
    display: flex;
    gap: 48px;
    padding: 0 48px;
    justify-content: center;
    margin: 100px 0;
}

.destination__card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: end;
    padding: 16px 16px;
    background-position: center;
    background-size: cover;
}

.destination__title {
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.destination__subTitle {
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.destination__card--url1 {
    background-image: url('../img/destinos/destination1.png');
}

.destination__card--url2 {
    background-image: url('../img/destinos/destination2.png');
}

.destination__card--url3 {
    background-image: url('../img/destinos/destination3.png');
}

.destination__card--url4 {
    background-image: url('../img/destinos/destination4.png');
}

@media(max-width:992px) {
    .destination {
        min-width: 200px;
        flex-wrap: wrap;
    }
}

/* #endregion Destination*/

/* #region Carousel*/
.carousel__card {
    margin-top: 100px;
    padding: 0 48px;
}

.carousel__img {
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(0.7);
}

.carousel__text {
    font-size: 18px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

@media(max-width:992px) {
    .carousel__card {
        padding: 0;
    }

    .carousel-caption {
        width: 70%;
        padding-left: 20%;
    }

    .carousel__img {
        width: 70%;
    }

    .carousel__text {
        width: 60%;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    }
}

/* #endregion Carousel*/

/* #region footer con Grid  */
.footer {
    display: flex;
    margin-top: 80px;
    background-color: #172432;
    height: 220px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.footer__container {
    display: grid;
    grid-template-columns: 145px 50px repeat(3, 120px);
    width: 900px;
    justify-content: space-around;
}

.footer__logo {
    width: 130px;
}

.footer__title {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
}

.footer__list {
    flex-direction: column;
}

.footer__item {
    font-size: 12px;
    color: white;
    margin-bottom: 8px;
}

.footer__item:hover {
    color: #FF7757;
    cursor: pointer;
}

.footer__icons {
    width: 20px;
    cursor: pointer;
}

@media(max-width:992px) {
    .footer {
        height: auto;
        padding: 30px 48px;
    }

    .footer__box--gridLogo {
        grid-column: 1/-1;
    }

    .footer__container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 20px;
    }

}

/* #endregion*/